extends ../main.pug

block title
    | РК «Молот»
block content
    .page
        nav.navbar.navbar-default.navbar-static-top
            .container
                .navbar-header
                    span.navbar-brand
                        span.logo_text_md.logo_text РК Молот
                    button(type="button" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body").navbar-toggle.visible-xs-inline-block
                        span(aria-hidden="true").glyphicon.glyphicon-menu-hamburger
                ul.nav.navbar-nav.navbar-right.hidden-xs
                    li
                        a История клуба
                    li
                        a Как вступить?
                    li
                        a Тренировки
                    li
                        a Контакты
                nav(role="navigation").navmenu.navmenu-default.navmenu-fixed-left.offcanvas#myNavmenu
                    ul
                        li
                            a Вступить
                        li
                            a Статистика встреч
                        li
                            a Тренировки
                        li
                            a Контакты

        .main_pic_container
            .container
                .next_game
                    //p.main_text Следующая игра
                    //p.main_title VIII московский турнир по пляжному регби, кубок WETT
                    //p.main_text г. Москва, ЦПВС «Водный стадион»
                    //p.main_text 25 декабря, 11:00
                    .row
                        .col-lg-12.col-md-12
                            p.main_text Следующая игра
                    .row
                        .col-lg-12.col-md-12.hidden-xs
                            p.main_title VIII московский турнир по пляжному регби, кубок WETT

                        .col-lg-12.col-md-12.visible-xs-inline-block
                            p.main_title_xs VIII московский турнир по пляжному регби, кубок WETT

                    .row
                        .col-lg-4.col-md-5.col-sm-6.hidden-sm.hidden-xs
                            p.date_text 25 декабря, 11:00
                        .col-lg-4.col-md-5.col-sm-6.visible-sm-inline-block.hidden-xs
                            p.date_text_sm 25 декабря, 11:00
                        .col-lg-4.col-md-5.col-sm-6.col-xs-12.visible-xs-inline-block.hidden-sm.hidden-lg.hidden-md
                            p.date_text_xs 25 декабря, 11:00

                        .col-lg-7.col-md-5.col-sm-5.col-xs-12
                            p.main_text г. Москва

                        .col-lg-7.col-md-5.col-sm-5.col-xs-12
                            p.main_text ЦПВС «Водный стадион»
        .container
            h2 История клуба
            p До 2010 года регби не было не только в городе Чебоксары, но и во всей Чувашии. Летом того же года обычные чебоксарские парни, заинтересовавшись этим спортом,  решили купить регбийный мяч и попробовали его покидать — в тот день в парк пришли 7 человек, которые попытались поиграть во что-то похожее на регби.
            .row
                .col-md-3
                .col-md-6.text-center
                    span.cite_molot 12 декабря 2010 года — день рождения регби в Чувашии
                .col-md-3
            p Парням понравилось – они решили собираться каждое воскресенье. Но всем желающим заниматься регби в Чебоксарах получилось собраться вместе только 12 декабря 2010 года.
            p В конце февраля 2011 года общим голосованием было выбрано название клуба - «Молот». В конце того же года была официально зарегистрирована «Федерация регби Чувашской республики».
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W_9JHwVv8KQ" frameborder="0" allowfullscreen></iframe>
            </div>
        //.footer
        .container.footer_container

            h2 Где мы тренируемся?
            .row
                .col-md-6
                    .panel.panel-default
                        h4.text-center.header
                            .panel-body.text-center Летом — Московская набережная, пляж Афанасьева
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-4Rca2c4OWUXuQLlDhMjnBWxdC9PQWrg&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
                .col-md-6
                    .panel.panel-default
                        h4.text-center.header
                            .panel-body.text-center Зимой — Футбольное поле ЧЭМК (напротив МТВ)
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=wlNBuxkwvpeg2QLOlM3n30LI0xyDzqa7&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
            .footer
                .row
                    .col-md-6
                        h3 Как вступить?
                        p РК «Молот» в поиске новых игроков, желающих принять участие в спортивной жизни клуба. Единственное и ключевое требование, предъявляемое к каждому, кто готов защищать честь республики в данном виде спорта — «ЖЕЛАНИЕ ИГРАТЬ»
                            | . <br><br> <strong>Хотите принять участие и/или узнать больше?</strong> — приходи на ближайшую тренировку (<i>4 ноября, 18:00 — футбольное поле ЧЭМК</i>) или свяжись с Артемом или Пашей.
                    .col-md-6
                        h3 Контакты
                        h4 Артем Розанов
                        .row
                            .col-lg-2.col-md-3.col-sm-2.col-xs-4
                                ul.contacts
                                    li.contacts_li
                                        | Мобильный:
                                        li.contacts_li
                                        | Почта:
                                        li.contacts_li
                                        | Вконтакте:
                            .col-lg-6.col-md-6.col-sm-6.col-xs-7
                                ul.contacts
                                    li.contacts_li
                                        a(href="tel:+79871201321") +7 (987) 120-13-21
                                    li.contacts_li
                                        a(href="mailto:labcab@labcab.ru") АртемРозанов@жмайл.ком
                                    li.contacts_li
                                        a(href="https://vk.com/rugbymolot" target="_blank") vk.com/rugbymolot
                        h4 Павел Корнилов
                        .row
                            .col-lg-2.col-md-3.col-sm-2.col-xs-4
                                ul.contacts
                                    li.contacts_li
                                        | Мобильный:
                                        li.contacts_li
                                        | Почта:
                                        li.contacts_li
                                        | Вконтакте:
                            .col-lg-6.col-md-6.col-sm-6.col-xs-7
                                ul.contacts
                                    li.contacts_li
                                        a(href="tel:+79871201321") +7 (987) 120-13-21
                                    li.contacts_li
                                        a(href="mailto:labcab@labcab.ru") ПавелКорнилов@жмайл.ком
                                    li.contacts_li
                                        a(href="https://vk.com/id19785579" target="_blank") vk.com/id19785579
                    //img(src="img/molot_logo_lg.png" width=179 height=179 alt="Регбийный клуб «Молот»").logo_bottom.center-block
            //ul.social_icons
                li.social_icons_li
                    a(href="").social_icons_href.vk
                        i.fa.fa-vk.fa-2x
                li.social_icons_li
                    a(href="").social_icons_href.mail
                        i.fa.fa-envelope.fa-2x
                li.social_icons_li
                    a(href="").social_icons_href.tw
                        i.fa.fa-twitter.fa-2x