extends ../main.jade

block title
    | РК «Молот»
block content
    nav.navbar.navbar-default.navbar-static-top
        .container
            .row
                .col-md-4.logo_text.clearfix
                        .row
                            .col-md-12
                                span.logo_text_sx Регбийный клуб
                        .row
                            .col-md-12
                                span.logo_text_md Молот
                .col-md-2.menu
                    a.menu_href Статистика встреч
                .col-md-2.menu
                    a.menu_href Тренировки
                .col-md-2.menu
                    a.menu_href Контакты
                .col-md-2.menu
                    a.menu_href Следующая игра
    //.jumbotron
    img(src="img/OwcC2pUJoWo.jpg").img-responsive
